[Unit]
Description=webapp

[Service]
WorkingDirectory=/home/ubuntu/webapp
ExecStart=/usr/bin/node /home/ubuntu/webapp/server.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=my-node-server
User=harsh-dev

